*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
main{
    max-width: 33.0rem;

    margin: 0 auto;
}
body{
    background: #ECE9FD;

    font-size: 1.6rem;

    padding: 6.0rem 2.3rem 6.6rem;
}

h1{
    font-family: 'Epilogue';
    font-weight: 800;
    font-size: 4.0rem;
    line-height: 4.8rem;

    color: #090039;
}
.title{
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #7158EF;

    margin-bottom: 1.7rem;
}
p{
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;

    color: rgba(10, 0, 57, 0.64);

    margin-bottom: 3.2rem;
}
a{
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;

    color: #090039;

    text-decoration: none;

}
a:hover{
    font-weight: bold;
}
ul{
    list-style: none;

    margin-top: 7.2rem;
}
ul li span{
    font-family: 'Epilogue';
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8.0rem;

    letter-spacing: -2px;

    color: #090039;
}
ul li{
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;

    max-width: 25.7rem;

    display: flex;
    align-items: center;
    gap: 3.2rem;

    margin-bottom: 4.8rem;

    color: #090039;
}
#center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 700px){

    body{
        padding: 8rem;
    }

    main{
        max-width: 1024px;
        display: flex;
        gap: 10rem;
    }

    main > div{
        max-width: 484px;
    }

    ul li{
        gap: 5.3rem;
        max-width: 450px;   
    }
    
    ul li + li{
        margin-top: 3.2rem;
    }

}